/Decky.iml
/decky/decky.iml
/decky/proguard-rules.pro
/sample/proguard-rules.pro
/sample/sample.iml
/gradle.properties
/.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
